- if user.errors.any?
  .error
    %ul
      %li.title= %{#{pluralize(user.errors.count, 'error')} prohibited}
      - user.errors.full_messages.each do |msg|
        %li= msg
.span-4
  = form.label :email
.span-16.last
  = form.text_field :email
.span-4
  = form.label :site
.span-16.last
  = form.text_field :site
.span-4
  = form.label :password
.span-16.last
  = form.password_field :password
-if current_user.role.title == 'admin'  
  = form.fields_for :salary do |salary_form|
    .span-4
      = salary_form.label :amount
    .span-16.last
      = salary_form.text_field :amount
.span-4
  = form.label 'Select a role'
.span-16.last
  = form.collection_select(:role_id, Role.all, :id, :title, { :prompt => 'Select a role' })
