= link_to 'Back', users_path
= form_for @user do |f|
  %fieldset
    %legend Editing user
    = render :partial => 'form', :locals => {:user => @user, :form => f}
    %button.button.positive{:type => 'submit'}    
      Save
      = image_tag('buttons/key.png')
= link_to 'Show', @user
= link_to 'Back', users_path
