= form_for(@user) do |form|
  %fieldset
    %legend Showing User
    .span-4
      = form.label :email
    .span-16.last= @user.email
    .span-4
      = form.label :salary
    .span-16.last= @user.salary.amount
    .span-4
      = form.label 'User role'
    .span-16.last= @user.role.title.capitalize

= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', users_path
