%h1= @is_approval ? 'Approve Raise' : 'All Raises'
%table
  %thead
    %tr
      - unless @is_approval
        %th Status
      %th Amount
      %th Created On
      %th Updated On
      - unless @is_approval
        %th Approved by
      %th Actions
  %tbody
  - @raises.each do |item|
    %tr
      - unless @is_approval
        %td= item.is_approved ? 'Yes' : 'No'
      %td= item.request_amount
      %td= item.created_at
      %td= item.updated_at
      - unless @is_approval
        %td= item.approver.email if item.approver
      %td
        - if @is_approval
          = link_to 'Approve', item, :confirm => 'Are you sure?', :method => :put, :remote => true, :query => ''
        - else
          = link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
