- form_for @raise do |f|
  %fieldset
    %legend New raise
    - if @raise.errors.any?
      .error
        %ul
          %li.title= %{#{pluralize(@raise.errors.count, 'error')} prohibited}
          - @raise.errors.full_messages.each do |msg|
            %li= msg
    %p.span-4
      = f.label :amount
    %p.span-16.last
      = f.text_field :request_amount
    %button.button.positive{:type => 'submit'}    
      Create
      = image_tag('buttons/tick.png')
= link_to 'Back', users_path
